DB_HOST=localhost
DB_NAME=mindmetric
DB_USER=root
DB_PASSWORD=

MAIL_HOST=smtp.gmail.com
MAIL_USERNAME=your@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_PORT=587
MAIL_FROM_NAME=MindMetric
MAIL_FROM_EMAIL=no-reply@mindmetric.local

APP_NAME=MindMetric
